[Unit]
Description=SAIRA - Timer limpeza de frames (a cada 2min)

[Timer]
OnBootSec=60
OnUnitActiveSec=120
AccuracySec=5s

[Install]
WantedBy=timers.target
